.home-page {
    text-align: center;
    padding-top: 50px; /* Adjust this value to vertically center the image */
  }
  
  .content {
    position: relative;
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of items */
    align-items: center; /* Center vertically */
  }
  
  .text-content {
    margin-right: 20px; /* Adjust this value as needed */
  }
  
  .bookshelf-image {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Set maximum height to 300px or adjust as needed */
    margin-top: 20px; /* Adjust this value to provide some space between text and image */
  }
  
  .view-books-link {
    background-color: rgba(217, 217, 217, 0.7);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .arrow {
    margin-right: 5px; /* Adjust margin between text and arrow */
  }
  